# Arquivos de Compilação do Maven
target/
pom.xml.tag
pom.xml.bak
release.properties

# Arquivos/Diretórios de IDEs
# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
*.iml
.idea/

# VS Code
.vscode/

# Arquivos de Log e Temporários
*.log
*~

# Sistema Operacional
.DS_Store
Thumbs.db

# Variáveis de Ambiente e Configurações Locais
.env
